/*------------------------------------*\
    #SPACING-RESPONSIVE
\*------------------------------------*/

/**
 * Margin and padding helper classes. Use these to tweak layout on a micro
 * level.
 *
 * `.u-(m|p)(t|r|b|l|h|v)(-negative)(-tiny|-small|-large|-huge|-none)(@breakpoint) {}`
 * = margin/padding top/right/bottom/left/horizontal/vertical negative tiny/small/large/huge/none @breakpoint
 *
	<div class="u-mr u-mb-small u-mb@lap"></div>
 */

// Predefine the variables below in order to alter and enable specific features.
$u-m-responsive:                   false !default;
$u-m-responsive--tiny:             false !default;
$u-m-responsive--small:            false !default;
$u-m-responsive--large:            false !default;
$u-m-responsive--huge:             false !default;

$u-m-responsive--negative:         false !default;
$u-m-responsive--negative-tiny:    false !default;
$u-m-responsive--negative-small:   false !default;
$u-m-responsive--negative-large:   false !default;
$u-m-responsive--negative-huge:    false !default;

$u-m-responsive--none:             false !default;

$u-p-responsive:                  false !default;
$u-p-responsive--tiny:            false !default;
$u-p-responsive--small:           false !default;
$u-p-responsive--large:           false !default;
$u-p-responsive--huge:            false !default;

$u-p-responsive--none:            false !default;





// Internally used mixin to quickly generate our different variants based upon
// the breakpoints defined in `settings.responsive`.

@mixin aleut-generate-spacing() {

    // Loop through our previously-defined breakpoints.
    @each $breakpoint in $breakpoints {

        $aleut-generate-spacing-alias:      nth($breakpoint, 1) !global;
        $aleut-generate-spacing-condition:  nth($breakpoint, 2);

        // This isn’t ideal, but we definitely don’t want to generate widths
        // for retina devices. Exclude retina media-qeuries manually.
        @if ($aleut-generate-spacing-alias != "retina") {

            @include media-query($aleut-generate-spacing-alias) {
                @content;
            } // Close media query.

        } // Close retina check.

        // Take the global variable back out of scope.
        $aleut-generate-spacing-alias: null !global;

    } // Close breakpoints loop.

}





@if ($u-m-responsive == true) {

    /**
     * Margin helper classes.
     *
     * Add margins.
     */

    @include aleut-generate-spacing() {

        .u-m\@#{$aleut-generate-spacing-alias}      { margin:           $aleut-margin !important; }
        .u-mt\@#{$aleut-generate-spacing-alias}     { margin-top:       $aleut-margin !important; }
        .u-mr\@#{$aleut-generate-spacing-alias}     { margin-right:     $aleut-margin !important; }
        .u-mb\@#{$aleut-generate-spacing-alias}     { margin-bottom:    $aleut-margin !important; }
        .u-ml\@#{$aleut-generate-spacing-alias}     { margin-left:      $aleut-margin !important; }
        .u-mh\@#{$aleut-generate-spacing-alias}     { margin-right:     $aleut-margin !important; margin-left:      $aleut-margin !important; }
        .u-mv\@#{$aleut-generate-spacing-alias}     { margin-top:       $aleut-margin !important; margin-bottom:    $aleut-margin !important; }

    }

}


@if ($u-m-responsive--tiny == true) {

    /**
     * Add tiny margins.
     */

    @include aleut-generate-spacing() {

        .u-m-tiny\@#{$aleut-generate-spacing-alias}     { margin:           $aleut-margin--tiny !important; }
        .u-mt-tiny\@#{$aleut-generate-spacing-alias}    { margin-top:       $aleut-margin--tiny !important; }
        .u-mr-tiny\@#{$aleut-generate-spacing-alias}    { margin-right:     $aleut-margin--tiny !important; }
        .u-mb-tiny\@#{$aleut-generate-spacing-alias}    { margin-bottom:    $aleut-margin--tiny !important; }
        .u-ml-tiny\@#{$aleut-generate-spacing-alias}    { margin-left:      $aleut-margin--tiny !important; }
        .u-mh-tiny\@#{$aleut-generate-spacing-alias}    { margin-right:     $aleut-margin--tiny !important; margin-left:     $aleut-margin--tiny !important; }
        .u-mv-tiny\@#{$aleut-generate-spacing-alias}    { margin-top:       $aleut-margin--tiny !important; margin-bottom:   $aleut-margin--tiny !important; }

    }

}


@if ($u-m-responsive--small == true) {

    /**
     * Add small margins.
     */

    @include aleut-generate-spacing() {

        .u-m-small\@#{$aleut-generate-spacing-alias}      { margin:           $aleut-margin--small !important; }
        .u-mt-small\@#{$aleut-generate-spacing-alias}     { margin-top:       $aleut-margin--small !important; }
        .u-mr-small\@#{$aleut-generate-spacing-alias}     { margin-right:     $aleut-margin--small !important; }
        .u-mb-small\@#{$aleut-generate-spacing-alias}     { margin-bottom:    $aleut-margin--small !important; }
        .u-ml-small\@#{$aleut-generate-spacing-alias}     { margin-left:      $aleut-margin--small !important; }
        .u-mh-small\@#{$aleut-generate-spacing-alias}     { margin-right:     $aleut-margin--small !important; margin-left:   $aleut-margin--small !important; }
        .u-mv-small\@#{$aleut-generate-spacing-alias}     { margin-top:       $aleut-margin--small !important; margin-bottom: $aleut-margin--small !important; }

    }

}


@if ($u-m-responsive--large == true) {

    /**
     * Add large margins.
     */

    @include aleut-generate-spacing() {

        .u-m-large\@#{$aleut-generate-spacing-alias}     { margin:           $aleut-margin--large !important; }
        .u-mt-large\@#{$aleut-generate-spacing-alias}    { margin-top:       $aleut-margin--large !important; }
        .u-mr-large\@#{$aleut-generate-spacing-alias}    { margin-right:     $aleut-margin--large !important; }
        .u-mb-large\@#{$aleut-generate-spacing-alias}    { margin-bottom:    $aleut-margin--large !important; }
        .u-ml-large\@#{$aleut-generate-spacing-alias}    { margin-left:      $aleut-margin--large !important; }
        .u-mh-large\@#{$aleut-generate-spacing-alias}    { margin-right:     $aleut-margin--large !important; margin-left:      $aleut-margin--large !important; }
        .u-mv-large\@#{$aleut-generate-spacing-alias}    { margin-top:       $aleut-margin--large !important; margin-bottom:    $aleut-margin--large !important; }

    }

}


@if ($u-m-responsive--huge == true) {

    /**
     * Add huge margins.
     */

    @include aleut-generate-spacing() {

        .u-m-huge\@#{$aleut-generate-spacing-alias}   { margin:           $aleut-margin--huge !important; }
        .u-mt-huge\@#{$aleut-generate-spacing-alias}  { margin-top:       $aleut-margin--huge !important; }
        .u-mr-huge\@#{$aleut-generate-spacing-alias}  { margin-right:     $aleut-margin--huge !important; }
        .u-mb-huge\@#{$aleut-generate-spacing-alias}  { margin-bottom:    $aleut-margin--huge !important; }
        .u-ml-huge\@#{$aleut-generate-spacing-alias}  { margin-left:      $aleut-margin--huge !important; }
        .u-mh-huge\@#{$aleut-generate-spacing-alias}  { margin-right:     $aleut-margin--huge !important; margin-left:   $aleut-margin--huge !important; }
        .u-mv-huge\@#{$aleut-generate-spacing-alias}  { margin-top:       $aleut-margin--huge !important; margin-bottom: $aleut-margin--huge !important; }

    }

}


@if ($u-m-responsive--none == true) {

    /**
     * Remove margins.
     */

    @include aleut-generate-spacing() {

        .u-m-none\@#{$aleut-generate-spacing-alias}      { margin:           0 !important; }
        .u-mt-none\@#{$aleut-generate-spacing-alias}     { margin-top:       0 !important; }
        .u-mr-none\@#{$aleut-generate-spacing-alias}     { margin-right:     0 !important; }
        .u-mb-none\@#{$aleut-generate-spacing-alias}     { margin-bottom:    0 !important; }
        .u-ml-none\@#{$aleut-generate-spacing-alias}     { margin-left:      0 !important; }
        .u-mh-none\@#{$aleut-generate-spacing-alias}     { margin-right:     0 !important; margin-left:      0 !important; }
        .u-mv-none\@#{$aleut-generate-spacing-alias}     { margin-top:       0 !important; margin-bottom:    0 !important; }

    }

}


@if ($u-m-responsive--negative == true) {

    /**
     * Negative margins.
     */

    @include aleut-generate-spacing() {

        .u-m-negative\@#{$aleut-generate-spacing-alias}      { margin:           -$aleut-margin !important; }
        .u-mt-negative\@#{$aleut-generate-spacing-alias}     { margin-top:       -$aleut-margin !important; }
        .u-mr-negative\@#{$aleut-generate-spacing-alias}     { margin-right:     -$aleut-margin !important; }
        .u-mb-negative\@#{$aleut-generate-spacing-alias}     { margin-bottom:    -$aleut-margin !important; }
        .u-ml-negative\@#{$aleut-generate-spacing-alias}     { margin-left:      -$aleut-margin !important; }
        .u-mh-negative\@#{$aleut-generate-spacing-alias}     { margin-right:     -$aleut-margin !important; margin-left:      -$aleut-margin !important; }
        .u-mv-negative\@#{$aleut-generate-spacing-alias}     { margin-top:       -$aleut-margin !important; margin-bottom:    -$aleut-margin !important; }

    }

}


@if ($u-m-responsive--negative-tiny == true) {

    /**
     * Tiny negative margins.
     */

    @include aleut-generate-spacing() {

        .u-m-negative-tiny\@#{$aleut-generate-spacing-alias}    { margin:           -$aleut-margin--tiny !important; }
        .u-mt-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-top:       -$aleut-margin--tiny !important; }
        .u-mr-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-right:     -$aleut-margin--tiny !important; }
        .u-mb-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-bottom:    -$aleut-margin--tiny !important; }
        .u-ml-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-left:      -$aleut-margin--tiny !important; }
        .u-mh-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-right:     -$aleut-margin--tiny !important; margin-left:     -$aleut-margin--tiny !important; }
        .u-mv-negative-tiny\@#{$aleut-generate-spacing-alias}   { margin-top:       -$aleut-margin--tiny !important; margin-bottom:   -$aleut-margin--tiny !important; }

    }

}


@if ($u-m-responsive--negative-small == true) {

    /**
     * Small negative margins.
     */

    @include aleut-generate-spacing() {

        .u-m-negative-small\@#{$aleut-generate-spacing-alias}     { margin:           -$aleut-margin--small !important; }
        .u-mt-negative-small\@#{$aleut-generate-spacing-alias}    { margin-top:       -$aleut-margin--small !important; }
        .u-mr-negative-small\@#{$aleut-generate-spacing-alias}    { margin-right:     -$aleut-margin--small !important; }
        .u-mb-negative-small\@#{$aleut-generate-spacing-alias}    { margin-bottom:    -$aleut-margin--small !important; }
        .u-ml-negative-small\@#{$aleut-generate-spacing-alias}    { margin-left:      -$aleut-margin--small !important; }
        .u-mh-negative-small\@#{$aleut-generate-spacing-alias}    { margin-right:     -$aleut-margin--small !important; margin-left:   -$aleut-margin--small !important; }
        .u-mv-negative-small\@#{$aleut-generate-spacing-alias}    { margin-top:       -$aleut-margin--small !important; margin-bottom: -$aleut-margin--small !important; }

    }

}


@if ($u-m-responsive--negative-large == true) {

    /**
     * Large negative margins.
     */

    @include aleut-generate-spacing() {

        .u-m-negative-large\@#{$aleut-generate-spacing-alias}    { margin:           double(-$aleut-margin) !important; }
        .u-mt-negative-large\@#{$aleut-generate-spacing-alias}   { margin-top:       double(-$aleut-margin) !important; }
        .u-mr-negative-large\@#{$aleut-generate-spacing-alias}   { margin-right:     double(-$aleut-margin) !important; }
        .u-mb-negative-large\@#{$aleut-generate-spacing-alias}   { margin-bottom:    double(-$aleut-margin) !important; }
        .u-ml-negative-large\@#{$aleut-generate-spacing-alias}   { margin-left:      double(-$aleut-margin) !important; }
        .u-mh-negative-large\@#{$aleut-generate-spacing-alias}   { margin-right:     double(-$aleut-margin) !important; margin-left:      double(-$aleut-margin) !important; }
        .u-mv-negative-large\@#{$aleut-generate-spacing-alias}   { margin-top:       double(-$aleut-margin) !important; margin-bottom:    double(-$aleut-margin) !important; }

    }

}


@if ($u-m-responsive--negative-huge == true) {

    /**
     * Huge negative margins.
     */

    @include aleut-generate-spacing() {

        .u-m-negative-huge\@#{$aleut-generate-spacing-alias}  { margin:           quadruple(-$aleut-margin) !important; }
        .u-mt-negative-huge\@#{$aleut-generate-spacing-alias} { margin-top:       quadruple(-$aleut-margin) !important; }
        .u-mr-negative-huge\@#{$aleut-generate-spacing-alias} { margin-right:     quadruple(-$aleut-margin) !important; }
        .u-mb-negative-huge\@#{$aleut-generate-spacing-alias} { margin-bottom:    quadruple(-$aleut-margin) !important; }
        .u-ml-negative-huge\@#{$aleut-generate-spacing-alias} { margin-left:      quadruple(-$aleut-margin) !important; }
        .u-mh-negative-huge\@#{$aleut-generate-spacing-alias} { margin-right:     quadruple(-$aleut-margin) !important; margin-left:   quadruple(-$aleut-margin) !important; }
        .u-mv-negative-huge\@#{$aleut-generate-spacing-alias} { margin-top:       quadruple(-$aleut-margin) !important; margin-bottom: quadruple(-$aleut-margin) !important; }

    }

}





@if ($u-p-responsive == true) {

    /**
     * Padding helper classes.
     *
     * Add paddings.
     */

    @include aleut-generate-spacing() {

        .u-p\@#{$aleut-generate-spacing-alias}       { padding:          $aleut-padding !important; }
        .u-pt\@#{$aleut-generate-spacing-alias}      { padding-top:      $aleut-padding !important; }
        .u-pr\@#{$aleut-generate-spacing-alias}      { padding-right:    $aleut-padding !important; }
        .u-pb\@#{$aleut-generate-spacing-alias}      { padding-bottom:   $aleut-padding !important; }
        .u-pl\@#{$aleut-generate-spacing-alias}      { padding-left:     $aleut-padding !important; }
        .u-ph\@#{$aleut-generate-spacing-alias}      { padding-right:    $aleut-padding !important; padding-left:    $aleut-padding !important; }
        .u-pv\@#{$aleut-generate-spacing-alias}      { padding-top:      $aleut-padding !important; padding-bottom:  $aleut-padding !important; }

    }

}


@if ($u-p-responsive--tiny == true) {

    /**
     * Add tiny paddings.
     */

    @include aleut-generate-spacing() {

        .u-p-tiny\@#{$aleut-generate-spacing-alias}     { padding:           $aleut-padding--tiny !important; }
        .u-pt-tiny\@#{$aleut-generate-spacing-alias}    { padding-top:       $aleut-padding--tiny !important; }
        .u-pr-tiny\@#{$aleut-generate-spacing-alias}    { padding-right:     $aleut-padding--tiny !important; }
        .u-pb-tiny\@#{$aleut-generate-spacing-alias}    { padding-bottom:    $aleut-padding--tiny !important; }
        .u-pl-tiny\@#{$aleut-generate-spacing-alias}    { padding-left:      $aleut-padding--tiny !important; }
        .u-ph-tiny\@#{$aleut-generate-spacing-alias}    { padding-right:     $aleut-padding--tiny !important; padding-left:      $aleut-padding--tiny !important; }
        .u-pv-tiny\@#{$aleut-generate-spacing-alias}    { padding-top:       $aleut-padding--tiny !important; padding-bottom:    $aleut-padding--tiny !important; }

    }

}


@if ($u-p-responsive--small == true) {

    /**
     * Add small paddings.
     */

    @include aleut-generate-spacing() {

        .u-p-small\@#{$aleut-generate-spacing-alias}      { padding:           $aleut-padding--small !important; }
        .u-pt-small\@#{$aleut-generate-spacing-alias}     { padding-top:       $aleut-padding--small !important; }
        .u-pr-small\@#{$aleut-generate-spacing-alias}     { padding-right:     $aleut-padding--small !important; }
        .u-pb-small\@#{$aleut-generate-spacing-alias}     { padding-bottom:    $aleut-padding--small !important; }
        .u-pl-small\@#{$aleut-generate-spacing-alias}     { padding-left:      $aleut-padding--small !important; }
        .u-ph-small\@#{$aleut-generate-spacing-alias}     { padding-right:     $aleut-padding--small !important; padding-left:    $aleut-padding--small !important; }
        .u-pv-small\@#{$aleut-generate-spacing-alias}     { padding-top:       $aleut-padding--small !important; padding-bottom:  $aleut-padding--small !important; }

    }

}


@if ($u-p-responsive--large == true) {

    /**
     * Add large paddings.
     */

    @include aleut-generate-spacing() {

        .u-p-large\@#{$aleut-generate-spacing-alias}     { padding:           $aleut-padding--large !important; }
        .u-pt-large\@#{$aleut-generate-spacing-alias}    { padding-top:       $aleut-padding--large !important; }
        .u-pr-large\@#{$aleut-generate-spacing-alias}    { padding-right:     $aleut-padding--large !important; }
        .u-pb-large\@#{$aleut-generate-spacing-alias}    { padding-bottom:    $aleut-padding--large !important; }
        .u-pl-large\@#{$aleut-generate-spacing-alias}    { padding-left:      $aleut-padding--large !important; }
        .u-ph-large\@#{$aleut-generate-spacing-alias}    { padding-right:     $aleut-padding--large !important; padding-left:   $aleut-padding--large !important; }
        .u-pv-large\@#{$aleut-generate-spacing-alias}    { padding-top:       $aleut-padding--large !important; padding-bottom: $aleut-padding--large !important; }

    }

}


@if ($u-p-responsive--huge == true) {

    /**
     * Add huge paddings.
     */

    @include aleut-generate-spacing() {

        .u-p-huge\@#{$aleut-generate-spacing-alias}   { padding:           $aleut-padding--huge !important; }
        .u-pt-huge\@#{$aleut-generate-spacing-alias}  { padding-top:       $aleut-padding--huge !important; }
        .u-pr-huge\@#{$aleut-generate-spacing-alias}  { padding-right:     $aleut-padding--huge !important; }
        .u-pb-huge\@#{$aleut-generate-spacing-alias}  { padding-bottom:    $aleut-padding--huge !important; }
        .u-pl-huge\@#{$aleut-generate-spacing-alias}  { padding-left:      $aleut-padding--huge !important; }
        .u-ph-huge\@#{$aleut-generate-spacing-alias}  { padding-right:     $aleut-padding--huge !important; padding-left:    $aleut-padding--huge !important; }
        .u-pv-huge\@#{$aleut-generate-spacing-alias}  { padding-top:       $aleut-padding--huge !important; padding-bottom:  $aleut-padding--huge !important; }

    }

}


@if ($u-p-responsive--none == true) {

    /**
     * Remove paddings.
     */

    @include aleut-generate-spacing() {

        .u-p-none\@#{$aleut-generate-spacing-alias}      { padding:          0 !important; }
        .u-pt-none\@#{$aleut-generate-spacing-alias}     { padding-top:      0 !important; }
        .u-pr-none\@#{$aleut-generate-spacing-alias}     { padding-right:    0 !important; }
        .u-pb-none\@#{$aleut-generate-spacing-alias}     { padding-bottom:   0 !important; }
        .u-pl-none\@#{$aleut-generate-spacing-alias}     { padding-left:     0 !important; }
        .u-ph-none\@#{$aleut-generate-spacing-alias}     { padding-right:    0 !important; padding-left:     0 !important; }
        .u-pv-none\@#{$aleut-generate-spacing-alias}     { padding-top:      0 !important; padding-bottom:   0 !important; }

    }

}
